# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.next
.next/
out/
node_modules/
.pnp
.pnp.js

# testing
coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
frontend/out
backend/out

playground/sesam-domains/secret.pem


# Python
.idea
*.pyc
# NPM
.npmrc

# eslint
.eslintcache

# yalc
.yalc

frontend/volumes
frontend/build

storybook-static/

backend/frontend_build
backend/dist
backend/volumes

packages/itg-cli/lib

docs/node_modules
docs/build
docs/.docusaurus
docs/.cache-loader